<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/"
          >Lego Collection</a
        >
      </div>

      <div class="navbar-center hidden sm:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/lego/sets?theme=Ducks">Ducks</a></li>
                <li><a href="/lego/sets?theme=Battery Box">Battery Box</a></li>
                <li>
                  <a href="/lego/sets?theme=Two Garage Door Kits">Two Garage Door Kits</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">
              Everything to know about me - Student at Seneca College.<br />(Dev Amit Surati : 117958223).
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
        <div class="md:order-1">
          <img
            class="w-full rounded-lg"
            src="https://media.blogto.com/articles/20211709-SiennaFlora-1.jpg?w=2048&cmd=resize_then_crop&height=1365&quality=70"
            alt="ER Img"
            class="w-full"
          />
        </div>

        <div class="md:order-2">
          <div class="p-4">
            <p>I am Dev Amit Surati, I am studying Computer Programming and Analysis Program in Seneca College. The artwork reflects one of my favourite activities, which is exploring and appreciating nature. My passion with plants and nature in general is more than simply a pastime; it is also a source of great delight and learning. I value nature's natural beauty, calm, and health benefits. Whether I'm tending to a garden, hiking trails, or simply enjoying the outdoors, my connection with nature provides me with great fulfilment and renewal. Embracing nature helps me to connect with the world in a more meaningful way, getting calm and inspiration from its magnificent beauty.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>