<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'}) %>
  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center ">
              <div class="max-w-md">
                  <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">Unveil the narrative behind our dedication to spreading the delight of floral bouquet LEGO sets to enthusiasts of every generation.</p>
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="m-8 flex">
    <div class="avatar p-4" style="flex: 2">
        <img src="/aboutme.jpg" alt="my image" class="rounded-lg shadow-md" style="width:24rem">
    </div>
    <div class="p-4" style="flex: 3; padding-left: 20px; ">
        <h2 class="text-xl font-bold">About Me</h2>
        <p>
            Welcome to Dev A. Surati's vibrant corner of creativity and wonder - the Lego Collection! Immerse yourself in a realm where imagination knows no limits, and each brick holds the potential for boundless adventure. Here, we honor the magic of LEGO, where building sets transcend mere toys; they serve as portals to realms of fantasy and innovation.
            <br><br>
            Whether you're an experienced LEGO enthusiast or embarking on your journey anew, my collection caters to all. From iconic sets of the past to the latest releases boasting cutting-edge design, inspiration abounds to fuel your imagination and ignite your passion for building. Join me as we explore the limitless possibilities of LEGO creations, from towering skyscrapers to enchanting landscapes, from intricate vehicles to mythical creatures.
            <br><br>
            <blockquote>Let your creativity soar, and allow the bricks to narrate your tale.</blockquote> - Dev A. Surati | CPA
        </p>
    </div>
</div>
  <footer class="footer-center mx-4">
    <h2 class="text-xl font-bold mb-4">Disclaimer</h2>
    <p class="text-gray-600 p-8">"This is Dev A. Surati's website. Unauthorized use of images and content from this website is strictly prohibited and will result in serious allegations and legal actions. Making GIFs of the images is expressly forbidden."</p>
</footer>
</body>
</html>