<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collections</title>
  <link rel="stylesheet" href="/css/main.css" />

  <style>
    .card {
        height: 100%;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.1); ;
    }
    
    .card img {
        height: 200px;
        object-fit: cover; 
    }

  </style>
</head>

<body tabindex="-1">
    <%- include('partials/navbar', {page:'/home'}) %>

  <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center">
              <div class="max-w-lg">
                  <h1 class="text-5xl font-bold">Begin Your Legendary Adventure with Our Lego Assortment</h1>
                  <p class="py-6">Begin a voyage of imagination and discovery in our extensive LEGO collection, where every brick tells a story and each creation sparks wonder.</p>
                  <a href="/lego/sets" class="btn btn-primary">Discover Sets</a>
              </div>
          </div>
      </div>
  </div>

  <br>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

          <div class="card bg-base-100 shadow-xl">
              <figure>
              <img class="w-full" src="https://cdn.rebrickable.com/media/sets/066-1.jpg" alt="Lego set - 066-1">
              </figure>
              <div class="card-body">
              <h2 class="card-title">Basic Building Set</h2>
              <p>Ready to let your creativity bloom? Build a piece of beautiful home decor that includes 8 species of wildflower. The building set provides an immersive building experience for nature-lovers and budding florists.</p>
                  <div class="card-actions justify-end">
                          <a href="/lego/sets/066-1" class="btn btn-primary">View</a>
                  </div>
              </div>

          </div>

      </div>

      <div>
        <div class="card bg-base-100 shadow-xl">
          <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/088-1.jpg" alt="Lego Set 088-1">
          </figure>
          <div class="card-body">
            <h2 class="card-title">Super Set</h2>
            <p>Craft an elegant display for the home or office with the LEGO® Icons Bouquet of Roses building set for adults. Rewind as you craft each meticulous detail and enjoy rearranging the flora to create the perfect look.</p>
            <div class="card-actions justify-end">
                <a href="/lego/sets/088-1" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>

      <div>
      <div class="card bg-base-100 shadow-xl">
          <figure>
          <img class="w-full " src="https://cdn.rebrickable.com/media/sets/1000-1.jpg" alt="Lego Set - 1000-1">
          </figure>
          <div class="card-body">
          <h2 class="card-title">Mosaic Set</h2>
          <p>Exquisite Gift for Her: Elevate your celebrations with this Flowers Building Set for Adults, a stunning 917 PCS masterpiece. Ideal for Christmas, Mother's Day, or a heartfelt Valentine's gift for her.</p>
              <div class="card-actions justify-end">
                  <a href="/lego/sets/1000-1" class="btn btn-primary">View</a>
              </div>
          </div>
      </div>
      </div>
  </div>
</body>
</html>